<div class="cover-image-container">
  <%= render_coverphoto %>

  <div class="show-user-details">
    <div class="user-show-avatar-zone">
      <div class="show-avatar-wrapper">
          <div>
              <%= render_follow_btn %>
              <p class="flex-spacer"></p>
          </div>
          
          <%= render_coverimage_zone_avatar(@user) %>

          <div>
            <%= link_to user_reviews_path(@user, @reviews) do %>
              <button class="btn-review-cover-img">Add Review</button>
            <% end %>
          </div> 
      </div>

      <div>
        <h4><%= render_userpage_fullname %></h4>
        <small>@<%= render_userpage_username %></small>
      </div>
    </div>

    <div class="dashbord-followers-zone">
      <div>
        <%= render_userpage_reviews_link %>
      </div>
      <%= render_userpage_followings %>
      <%= render_userpage_followers %>
    </div>
  </div>
</div>