<div class="cover-image-container">
  <div class="image-frame">
    <% if @user.coverphoto.url.present? %>
      <%= cl_image_tag(@user.coverphoto.url, :height=>250,
       :fetch_format=>:auto, :quality=>"auto", :use_root_path=>true,
       :class => "cover-photo", :alt => "cover photo") %>
    <% else %>
      <div class="cover-placeholder">
        <i class="fa fa-picture-o coverimage-frame-icon"></i>
      </div>
    <% end %>
  </div>

  <div class="show-user-details">
    <div class="user-show-avatar-zone">
      <div class="show-avatar-wrapper">
          <div>
              <%= render_follow_btn %>
              <p class="flex-spacer"></p>
          </div>
          <% if @user.avatar.url.present? %>
            <%= cl_image_tag(@user.avatar.url, :width=>88, :height=>88,
             :fetch_format=>:auto, :quality=>"auto",
             :use_root_path=>true,
             :class => "user-show-avatar") %>

          <% else %>
            <div>
              <i class="fas fa-user-circle user-icon"></i>
            </div>          
          <% end %>

          <div>
            <%= link_to user_reviews_path(@user, @reviews) do %>
              <button class="btn-review-cover-img">Add Review</button>
            <% end %>
          </div> 
      </div>

      <div>
        <h4><%= @user.fullname %></h4>
        <small>@<%= @user.username %></small>
      </div>
    </div>

    <div class="dashbord-followers-zone">
      <div>
        <%= link_to user_reviews_path(@user, @reviews) do %>
          <h4 class="reviews-count"><%= @user.inverse_reviews.count %> </h4>
          <p>Reviews</p>
        <% end %>
      </div>
      <div>
        <h4><%= @user.followings.count %></h4>
        <p>Following</p>
      </div>
      <div>
        <h4><%= @user.inverse_followings.count %></h4>
        <p>Followers</p>
      </div>
    </div>
  </div>
</div>