<div>
  <%= render 'navbar/navbar' %>
  <%= render 'layouts/sidebar' %>

  <main class="user-details-container">
    <%= render 'coverimage_zone' %>
    <div class="details-wrapper">
      <div class="main-user-details-showcase">
        <%= render 'layouts/smaller_topbar' %>
        <%#= render 'apartment_form' %>      
      </div>

      <%= render 'user_rightbar' %>
    </div>
  </main>
</div>