<div>
  <%= render 'navbar/navbar' %>
  <%= render 'layouts/sidebar' %>
  <%= render 'coverimage_zone' %>
  
  <main class="user-details-container">
    <div class="details-wrapper">
      <div class="main-user-details-showcase">
        <%= render 'user_sub_topbar' %>
        <%#= render 'apartment_form' %>      
      </div>

    </div>
    <%= render 'user_rightbar' %>
  </main>
</div>