<div class="bg">
<section class="auth-form">
  <h2> <i class="fas fa-user-circle user-icon"></i> </h2>
    <h2 class="form-label">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email",
        :placeholder => "Email",
        :class => "text-field" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password",
        :placeholder => "Password",
        :class => "text-field" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions">
        <%= f.submit "Log in", :class => "btn-auth" %>
      </div>
    <% end %>

    <p>Not Yet Registered? <%= render "devise/shared/links" %></p>
  </div>
</section>
