<div>
  <%= render 'navbar/navbar' %>
  <%= render 'layouts/sidebar' %>

  <main class="apartment-container">
    <div class="main-apartment-showcase">
      <%= render 'layouts/smaller_topbar' %>
      <%= render 'apartment_form' %>      
    </div>

    <%= render 'rightbar' %>
  </main>
</div>