<div>
  <%= render 'navbar/navbar' %>
  <%= render 'layouts/sidebar' %>

  <main class="apartment-container">
    <%= render 'layouts/smaller_topbar' %>
    <div class="main-apartment-showcase">
      <%= render 'apartment_form' %>

      <%= show_apartments %>   
    </div>
  </main>

  <%= render 'rightbar' %>
</div>