<div class="mobile-sidebar-container">
  <div class="avatar-zone">
    <div class="avatar-frame">

    <% if current_user.avatar.url.present? %>
       <%= cl_image_tag(current_user.avatar.url,
       :width=>96, :height=>96, :fetch_format=>:auto, :quality=>"auto",
       :use_root_path=>true, :class => "current-user-avatar") %>

    <% else %>
      <div>
        <i class="fa fa-user-circle user-icon"></i>
      </div>
    <% end %>
    </div>
    <p>
      <%= current_user.fullname.upcase %><br />
      <small>@<%= current_user.username.downcase %></small>
    </p>
  </div>
  <div class="mobile-followers-zone">
    <div>
      <h2><%= (current_user && current_user.followings.count) %></h2>
      <p>Following</p>
    </div>
    <div>
    <h2><%= (current_user && current_user.inverse_followings.count) %></h2>
    <p>Followers</p>
    </div>
  </div>
  <div class="nav-zone">
    <ul>
      <%= render_home_link %>
      <%= render_profile_link %>
      <%= render_dashboard_link %>
      <%= render_logout_link %>
    </ul>
  </div>
</div>