<div class="mobile-sidebar-container">
  <%= render_mobile_sidebar_currentuser_avatar %>

  <%= mobile_followers_zone %>

  <div class="nav-zone">
    <ul>
      <%= render_home_link %>
      <%= render_who_to_follow_link %>
      <%= render_profile_link %>
      <%= render_dashboard_link %>
      <%= render_logout_link %>
    </ul>
  </div>
</div>