<div class="sidebar-container">
  <div class="avatar-zone">
    <%= render_currentuser_avatar_link %>    
    <%= render_current_usernames %>
  </div>

  <%= render_sidebar_followers %>

  <div class="nav-zone">
    <ul>
      <%= render_home_link %>
      <%= render_profile_link %>
      <%= render_dashboard_link %>
      <%= render_owner_apartments_link %>
    </ul>
  </div>
</div>