<div class="sidebar-container">
  <div class="avatar-zone">
    <%= link_to edit_user_registration_path, class: "sidebar-icon-link" do %>
      <div class="avatar-frame">
        <% if current_user && current_user.avatar.url.present? %>
          <%= cl_image_tag(current_user.avatar.url,
          :width=>96, :height=>96, :fetch_format=>:auto, :quality=>"auto",
          :use_root_path=>true, :class => "current-user-avatar") %>

        <% else %>
          <div>
            <i class="fa fa-user-circle user-icon"></i>
          </div>
        <% end %>
      </div>
    <% end %>
    
    <%= render_current_usernames %>
  </div>

  <%= render_sidebar_followers %>

  <div class="nav-zone">
    <ul>
      <%= render_home_link %>
      <%= render_profile_link %>
      <%= render_dashboard_link %>
    </ul>
  </div>
</div>